.break-wordpc{
  display: block;
}


.header {
   background-color: rgb(248, 240, 255);
   position: fixed;
   width: 100%;
   z-index: 1000;
   transition: opacity 0.3s ease;
   backdrop-filter: blur(10px);
   background-color:rgba( 248, 240, 255, 0.9);
   transition: background-color 0.5s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8%;
  text-decoration: none;
}

.centernav{
  display: flex;
  gap: 40px;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: black;
}

.logo{
  color: black;
  font-size: 160%;
}

.buttom{
  font-size: 120%;
  background-color: rgb(158 63 253);
  border-radius: 35px;
  padding: 15px;
  overflow: hidden;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
  border: 2px solid ;
}

.main{
  color: rgb(158 63 253);
}

.centernav a:hover{
   color: rgb(158 63 253);
   transition: 0.3s;
}

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

h1{
  font-size: 80px;
  padding-top: 9%;
}

.headline{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-image: url("https://static.wixstatic.com/media/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png/v1/fill/w_1225,h_1200,al_br,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh; 
}

.headlinetext{
  line-height: 1.6;
  font-size: 22px;
}

.header.hidden {
  opacity: 0;
  pointer-events: none; /* не клікабельна, якби її не було */
}

header.white-bg {
  background-color: white;
  transition: background-color 0.3s ease;
}

.alltextintheheadline{
  margin-left: 10%;
 opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.url{
  background-color:  rgb(158 63 253);
  border-radius: 35px;
  padding: 17px ;
  margin-top: 20vh;
   padding-left: 35px;
  padding-right: 35px;
  position: relative;
  top: 50px;
  color: white;
}

.buttom:hover{
  transition: 0.5s;
  background-color: rgb(105, 42, 169);
}

.url:hover{
  transition: 0.5s;
  background-color: rgb(105, 42, 169);
}

@keyframes alltextintheheadline {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alltextintheheadline.show {
  opacity: 1;
  transform: translateY(0);
}

.services{
  color:rgb(105, 42, 169) ;
  font-size: 22px;
  margin-bottom: 2%;
}

.servicesandtitle{
   text-align: center;
   margin: 3%;
   font-size: 28px;
}

.imgwithtext{
  display: flex;
  justify-content: space-between;
  margin: 8%;
  margin-top: 6%;
}

.eachimgtext{
  text-align: center;
}

.textneartheimg{
  margin-top: 15%;
}

.titleneartheimg{
  font-size: 16px;
}

.textundertitle{
  font-size: 19px;
  margin-top: 3%;
}

.alltextintheheadline h1,
.alltextintheheadline .headlinetext,
.alltextintheheadline .url {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.alltextintheheadline.show h1 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s; 
}

.alltextintheheadline.show .headlinetext {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s; 
}

.alltextintheheadline.show .url {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s; 
}

.center .servicesandtitle,
.center .eachimgtext1,
.center .eachimgtext2,
.center .eachimgtext3 {

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;

}

.center.show1 .servicesandtitle{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s; 
}

.center.show1 .eachimgtext1{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.center.show1 .eachimgtext2{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}

.center.show1 .eachimgtext3{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.1s;
}

.numbers{
  background-color: rgb(22, 22, 63);
  color: white;
  text-align: center;
  height: 56vh;
  
}

.inline-list{
  display:inline-flex;
}

.svg1{
  fill:  white;
  position: relative;
  top: 4vh;
}

.titlenumber{
  padding-top: 5%;
  font-size: 34px;
  padding-bottom: 3%;
}

.item{
  margin-left: 10vh;
  margin-right: 10vh;
}

.number1{
  font-size: 65px;
  font-weight: bold;
}

.number2{
  font-size: 65px;
  font-weight: bold;
}

.number3{
  font-size: 65px;
  font-weight: bold;
}

.number4{
  font-size: 65px;
  font-weight: bold;
}

.svg2{
  fill:  white;
  position: relative;
  top: 4vh;
}

.svg3{
  fill:  white;
  position: relative;
  top: 4vh;
}

.numbers .titlenumber,
.numbers .number1,
.numbers .label1,
.numbers .svg1,
.numbers .number2,
.numbers .label2,
.numbers .svg2,
.numbers .number3,
.numbers .label3,
.numbers .svg3,
.numbers .number4,
.numbers .label4{
   opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.numbers.show2 .titlenumber{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s; 
}

.numbers.show2 .number1{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s; 
}

.numbers.show2 .label1{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s; 
}

.numbers.show2 .svg1{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s; 
}

.numbers.show2 .number2{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s; 
}

.numbers.show2 .svg2{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s; 
}

.numbers.show2 .number3{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s; 
}

.numbers.show2 .label3{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.1s; 
}

.numbers.show2 .svg3{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.2s; 
}

.numbers.show2 .number4{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.3s; 
}

.numbers.show2 .label4{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.4s; 
}


.numbers.show2 .label2{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s; 
}

.aboutus{
  display: flex;
  height: 120vh;
  width: 150vw;
}

.left{
  flex: 0 0 56.2vw;
  padding: 40px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.right{
  width: 40%;
  background-image: url("https://static.wixstatic.com/media/c837a6_38f0ee339302476e9f04ad2cab58a10e~mv2.png/v1/fill/w_941,h_1035,al_bl,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_38f0ee339302476e9f04ad2cab58a10e~mv2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: right;
   box-sizing: border-box;
 
}

.lefttext{
  position: relative;
  left: 15%;
  top: 10%;
  right: 15%;
  font-size: 18px;
}

.aboutustext{
  font-size: 16px;
  font-weight: bold;
  color: rgb(158, 63, 253) ;
  margin-bottom: 4%;
}

.aboutustitle{
  font-size: 34px;
  margin-bottom: 6%;
}

.firstlefttext{
  margin-bottom: 4%;
}

.left p{
  line-height: 190%;
}

.left .aboutustext,
.left .aboutustitle,
.left .firstlefttext,
.left .secondlefttext{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.left.show3 .aboutustext{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.left.show3 .aboutustitle {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.left.show3 .firstlefttext{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}

.left.show3 .secondlefttext{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

.coments{
  text-align: center;
  color: white;
  background-color: rgb(158, 63, 253);
}

.coment{
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 4%;
}

.headercoment{
  font-size: 52px;
  padding-bottom: 5%;
}

.nameofthecompany{
  padding-bottom: 5%;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  margin: 0 5px;
  transition: opacity 0.3s, background-color 0.3s;
  
  margin-bottom: 3%;
}

.dots.dot-active .dot{
  background-color: white;
  opacity: 1;
}

.clients{
  justify-content: center;
  display: flex;
  background-color: rgb(248, 240, 255);;
}

.svgclient{
  height: 35px;
  object-fit: contain;
  margin: 0 5% 3% 5%;
  width: 9%;
}

.articleclients{
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 3%;
  text-align: center;
}

.articleclient{
  background-color: rgb(248, 240, 255);
}

.contactsform{
  display: flex;
  background-image: url(https://static.wixstatic.com/media/c837a6_e0fcc29c441a4e7a837a80b4f5760e4e~mv2.png);
  justify-content: space-between;
  background-size:cover;
  height: 90dvh;
  position: relative;
}

.contacttietle{
  letter-spacing: 0.1em;
  color: rgb(158, 63, 253);
  font-size: 16px;
  font-weight: bold;
}

.worktogether{
  letter-spacing: -0.01em;
  font-size: 36px;
  margin-top: 8%;
  margin-bottom: 8%;
}

.form{
  position: relative;
  right: 10%;
}

.contacts{
  position: relative;
  left: 10%;
  top: 20%;
}

.textcontacts{
  line-height: 2em;
  font-size: 18px;
}

.imgcont{
  height: 5%;
  width: 10%;
  margin-top: 8%;
  margin-right: 2%;
}

.form input,
.form textarea{
  border: none;
  border-bottom: solid black 1px;
  outline: none; 
}

.form{
  margin-top: 10% ;
}

.namesurname{
  display: flex;
}

.nameinput{
  position: relative;
  width: 30vh;
  margin-top: 8%;
  margin-bottom: 12%;
}

.name2{
  margin-right: 3%;
  
}

.surnameinput{
  width: 30vh;
  margin-top: 8%;
}

.postel{
  width: 62.5vh;
  margin-top: 6%;
  margin-bottom: 2%;
}

.email{
  margin-top: 2;
}

.name{
  font-weight: bold;
}

.messagerows4{
  resize: none;
  width: 62.5vh;
  margin-top: 4%;
}

.submitbutton{
  border: none;
  background-color: rgb(158, 63, 253);
  color: white;
  border-radius: 35px;
  padding: 15px 25px 15px 25px;
  font-size: 18px;
  margin-top: 5%;
}

#map {
      height: 50vh;
    }
.mapp{
  margin-bottom: 5%;
}  

.submitbutton:hover{
  background-color: rgb(22, 22, 63);
  transition: 0.5s ;
}

body{
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 200px){
  
.burger{
  display: flex;
  z-index: 1001;
  flex-direction: column;
   z-index: 9999;
   align-items: center;
}

.centernav {
    position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  transition: right 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  display: flex;
  }

.centernav.active {
    right: 0;
  }

  .buttom{
    margin-right: 5em;
    padding: 4% 9% 4% 9%;
    position: relative;
    top: 2vh;
  }

  .logo{
    position: relative;
    top: 2vh;
    left: 2vh;
  }

  .header{
    height: 13%;
  }

  .burger .line {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 4px;
  transition: 0.3s;
  margin: 8%;
  position: relative;
      left: 480%;
  top: 1.8vh;

}

.line{
  margin-left: 100%;
}

.burger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 7.5px);

}

.burger.open .line:nth-child(2) {
  opacity: 0;
}

.burger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(7.5px, -7.5px);
}

h1{
  
  letter-spacing: -0.02em;
  vertical-align: baseline;
  font-size: 36px;
  color: rgb(22, 22, 63);
}

.alltextintheheadline{
  background-image: none;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  top: 10vh;
  align-items: center;
}

.headline{
  background-image: none;
}

.headlinewithotwords{
  background-image: url("https://static.wixstatic.com/media/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png/v1/fill/w_1225,h_1200,al_br,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png");
  background-size: cover;
  background-position: center;
  height: 65vh; 
  margin-top: 10px;
}

.break-word {
    display: block;
    margin-top: 5px; /* за бажанням */
  }
}
